/* Style général */
body {
    margin: 0;
    padding-top: 60px; /* pour laisser la place à la navbar fixe */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e6f9ff; /* fond clair */
    color: #01257D;
    display: flex;
    justify-content: center;
    max-height: 100vh;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #01257D;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #01257D;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.Explication {
    font-size: 20px;
    max-width: 700px;
    text-align: center;
    margin-bottom: 30px;
}

.niveau {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn1, .btn2, .btn3 {
    background-color: #01257D;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration-line: none;
}

.btn1 {
    background-color: rgb(70, 255, 86);
}

.btn1:hover {
    transform: scale(1.05);
    background-color: #00c600;
}

.btn2 {
    background-color: rgb(233, 233, 0);
}

.btn2:hover {
    transform: scale(1.05);
    background-color: rgb(176, 176, 0);
}

.btn3 {
    background-color: rgb(255, 17, 17);
}

.btn3:hover {
    transform: scale(1.05);
    background-color: rgb(207, 0, 0);
}

h1 {
    padding: 0;
    margin-top: 0;
    font-size: 40px;
}